:root {
    --header-height: 50px;
    --word-options-panel-width: 330px;
    --app-header-bg: rgba(236, 236, 235, 1);
    --body-scrollbar-background: rgba(0, 0, 0, 0);
    --scrollbar-background: rgba(217, 217, 217, 1);
    --puff-loader-color: rgba(51, 51, 51, 0.5);
}

.dark {
    --app-header-bg: rgba(42, 42, 40, 1);
    --scrollbar-background: rgba(107, 107, 107, 1);
    --puff-loader-color: rgba(255, 255, 255, 0.7);
}
